@font-face {
    font-family: 'Monolisk';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("./Monolisk-Regular.woff2");
    src: url("./Monolisk-Regular.woff2") format("woff2");
}
