:host {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        'layout shipNotes'
        'mainNotes shipNotes'
        'mainNotes controls';
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 100px 100px;

    .fleet-layout {
        --plaform-size: 8rem;
        --chibi-size: 6rem;

        grid-area: layout;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 910px;
        pointer-events: none;

        .fleet {
            display: grid;
            width: calc(var(--plaform-size) * 3);
            height: calc(var(--plaform-size) * 2);
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 1.5rem;
            column-gap: 1.5rem;

            transform: rotateX(60deg) rotateY(0deg) rotateZ(-24deg);
            transform-style: preserve-3d;

            .platforms {
                position: absolute;
                z-index: -1;
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                row-gap: 1.5rem;
                column-gap: 1.5rem;

                .plane {
                    background-color: var(--primary-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:nth-child(2) {
                        background-color: var(--accent-color-1);
                    }

                    .ship {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: rotateX(-73deg) rotateY(-18deg) rotateZ(6deg) translateY(calc(var(--plaform-size) * -0.5));
                        width: 100%;
                        height: 100%;
                        pointer-events: auto;
                        overflow: visible;

                        img {
                            position: absolute;
                            bottom: 0px;
                            height: var(--chibi-size);
                        }
                    }
                }
            }
        }
    }

    .ship-notes {
        grid-area: shipNotes;
        background-color: #fd3cbd4d;
    }

    .main-notes {
        grid-area: mainNotes;
        background-color: #d442094d;
    }

    .controls {
        grid-area: controls;
        background-color: #43f3334d;
    }
}
