<div class="fleet-layout">
  <div class="fleet">
    <div class="platforms">
      <ng-container [ngTemplateOutlet]="slot" [ngTemplateOutletContext]="{ row: 'main', slot: 'bottom' }"></ng-container>
      <ng-container [ngTemplateOutlet]="slot" [ngTemplateOutletContext]="{ row: 'main', slot: 'flagship' }"></ng-container>
      <ng-container [ngTemplateOutlet]="slot" [ngTemplateOutletContext]="{ row: 'main', slot: 'top' }"></ng-container>
      <ng-container [ngTemplateOutlet]="slot" [ngTemplateOutletContext]="{ row: 'vanguard', slot: 'lead' }"></ng-container>
      <ng-container [ngTemplateOutlet]="slot" [ngTemplateOutletContext]="{ row: 'vanguard', slot: 'middle' }"></ng-container>
      <ng-container [ngTemplateOutlet]="slot" [ngTemplateOutletContext]="{ row: 'vanguard', slot: 'last' }"></ng-container>
    </div>
  </div>
</div>
<div class="ship-notes"></div>
<div class="main-notes"></div>
<div class="controls"></div>

<ng-template #slot let-row="row" let-slot="slot">
  <div class="plane" ondragover="event.dataTransfer.types.includes('application/json') && event.preventDefault()" (drop)="handleDrop($event, row, slot)">
    <div class="content">
      <div class="ship">
        <img [src]="form.get([row, slot, '_chibiUrl']).value" draggable="true" (dragstart)="handleDragStart($event, row, slot)">
      </div>
    </div>
  </div>
</ng-template>
