<div class="fleet-layout">
  <div class="fleet">
    <div class="platforms">
      <div class="plane">
        <div class="ship"></div>
      </div>
      <div class="plane">
        <div class="ship"></div>
      </div>
      <div class="plane">
        <div class="ship"></div>
      </div>
      <div class="plane">
        <div class="ship"></div>
      </div>
      <div class="plane">
        <div class="ship"></div>
      </div>
      <div class="plane">
        <div class="ship"></div>
      </div>
    </div>
  </div>
</div>
<div class="ship-notes"></div>
<div class="main-notes"></div>
<div class="controls"></div>
