:host {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        'name shipList'
        'layout shipList'
        'mainNotes shipList'
        'mainNotes controls';
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 50px minmax(0, 1fr) 100px 100px;

    .name {
        display: flex;

        input {
            font-size: 1.5rem;
            flex-grow: 1;
            background-color: transparent;
            border: none;
        }
    }

    .fleet-layout {
        --plaform-size: 8rem;
        --chibi-size: 5rem;

        grid-area: layout;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1500px;
        pointer-events: none;

        .fleet {
            display: grid;
            width: calc(var(--plaform-size) * 3);
            height: calc(var(--plaform-size) * 2);
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 1.5rem;
            column-gap: 1.5rem;

            transform: rotateX(65deg) rotateY(0deg) rotateZ(-30deg);
            transform-style: preserve-3d;

            .platforms {
                position: absolute;
                z-index: -1;
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                row-gap: 1.5rem;
                column-gap: 1.5rem;
                transform-style: preserve-3d;

                .plane {
                    background-color: var(--primary-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:nth-child(2) {
                        background-color: var(--accent-color-1);
                    }

                    .content {
                        transform: translateX(-16px) translateY(25px) translateZ(-61px);
                        transform-style: preserve-3d;

                        .ship {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: rotateX(-73deg) rotateY(-18deg) rotateZ(6deg) translateY(calc(var(--plaform-size) * -0.5));
                            width: 100%;
                            height: 100%;
                            pointer-events: auto;
                            overflow: visible;

                            img {
                                position: absolute;
                                bottom: 0px;
                                height: var(--chibi-size);

                                &:hover {
                                    cursor: grab;
                                }
                            }
                        }
                    }
                }
            }
        }

        .remove-dropzone {
            --dropzone-width: 2rem;

            position: absolute;
            width: 100%;
            height: 100%;
            display: none;

            &.active {
                display: block;
            }

            > div {
                background-color: rgba(255, 0, 0, 0.452);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                pointer-events: auto;
            }

            .top {
                top: 0px;
                height: var(--dropzone-width);
                width: 100%;
            }

            .left {
                left: 0px;
                top: var(--dropzone-width);
                height: calc(100% - (var(--dropzone-width) * 2));
                width: var(--dropzone-width);

                span {
                    transform: rotate(-90deg);
                }
            }

            .right {
                right: 0px;
                top: var(--dropzone-width);
                height: calc(100% - (var(--dropzone-width) * 2));
                width: var(--dropzone-width);

                span {
                    transform: rotate(90deg);
                }
            }

            .bottom {
                bottom: 0px;
                height: var(--dropzone-width);
                width: 100%;
            }
        }
    }

    .ship-list {
        grid-area: shipList;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1.5rem;
        overflow: auto;

        .list {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow: auto;
            margin: 0.2rem;
            padding: 0.5rem;
            box-sizing: border-box;
            background-color: var(--background-color-glass);

            label {
                color: white;
            }
        }
    }

    .main-notes {
        grid-area: mainNotes;
        display: flex;
        flex-direction: column;

        .header {
            color: white;
        }

        textarea {
            flex-grow: 1;
        }
    }

    .controls {
        grid-area: controls;
        background-color: #43f3334d;
    }
}
