<div class="fleet-layout">
  <div class="fleet">
    <div class="platforms">
      <div class="plane">
        <div class="ship">
          <img [src]="form.get('main.bottom._chibiUrl').value">
        </div>
      </div>
      <div class="plane">
        <div class="ship">
          <img [src]="form.get('main.flagship._chibiUrl').value">
        </div>
      </div>
      <div class="plane">
        <div class="ship">
          <img [src]="form.get('main.top._chibiUrl').value">
        </div>
      </div>
      <div class="plane">
        <div class="ship">
          <img [src]="form.get('vanguard.lead._chibiUrl').value">
        </div>
      </div>
      <div class="plane">
        <div class="ship">
          <img [src]="form.get('vanguard.middle._chibiUrl').value">
        </div>
      </div>
      <div class="plane">
        <div class="ship">
          <img [src]="form.get('vanguard.last._chibiUrl').value">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ship-notes"></div>
<div class="main-notes"></div>
<div class="controls"></div>
