:host {
    display: flex;
    gap: 2rem;
}

.counter {
    display: flex;
    margin-top: 1.5rem;
    height: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    gap: 0.5rem;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background-color: var(--background-color-glass);
    //     clip-path: polygon(5% 0%, 95% 0%, 90% 50%, 95% 100%, 5% 100%);
    // }

    #icon {
        font-size: 2rem;
    }

    #text {
        color: white;
    }

    #plusButton {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0;
    }

    &:nth-child(1) #icon {
        color: #5a5a5a;
    }

    &:nth-child(2) #icon {
        color: #ffee2e;
    }

    &:nth-child(3) #icon {
        color: #fc1e59;
    }
}
