:host {
    --diamond-shape: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    display: flex;
}

#profileButton {
    margin-left: 1rem;
    height: 6rem;
    width: 6rem;
    padding: 0;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);

    clip-path:  var(--diamond-shape);

    #avatarPic {
        width: 90%;
        height: 90%;

        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--background-color);

        animation: floating-icon 4s infinite;

        clip-path:  var(--diamond-shape);
    }
}

#username {
    color: white;
    width: 12rem;
    height: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.8rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--accent-color-1);
}

@keyframes floating-icon {
    0% {
        background-position-y: -1.5rem;
    }

    50% {
        background-position-y: -2rem;
    }

    100% {
        background-position-y: -1.5rem;
    }
}
