<div class="header">
  <h3 class="title">Formation</h3>
  <button class="new default" [routerLink]="['new']" [routerLinkActive]="'primary'">
    <span>Add</span>
  </button>
</div>
<div class="list">
  <ng-container *ngFor="let fleet of fleetFormations$ | async"
              [ngTemplateOutlet]="fleetItem"
              [ngTemplateOutletContext]="{ fleet: fleet }"></ng-container>
</div>

<ng-template #fleetItem let-fleet="fleet">
  <button class="fleet-item" [routerLink]="['edit', fleet.id]" [routerLinkActive]="'active'">
    <h4 class="label">
      <span>{{fleet.name}}</span>
    </h4>
    <div class="thumbnails">
      <app-shipgirl-thumbnail [shipName]="fleet.main.flagship.shipName"></app-shipgirl-thumbnail>
      <app-shipgirl-thumbnail [shipName]="fleet.main.top.shipName"></app-shipgirl-thumbnail>
      <app-shipgirl-thumbnail [shipName]="fleet.main.bottom.shipName"></app-shipgirl-thumbnail>
      <div class="spacer"></div>
      <app-shipgirl-thumbnail [shipName]="fleet.vanguard.lead.shipName"></app-shipgirl-thumbnail>
      <app-shipgirl-thumbnail [shipName]="fleet.vanguard.middle.shipName"></app-shipgirl-thumbnail>
      <app-shipgirl-thumbnail [shipName]="fleet.vanguard.last.shipName"></app-shipgirl-thumbnail>
    </div>
  </button>
</ng-template>
