:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    color: white;

    .header {
        width: 100%;
        position: sticky;
        padding-left: 6rem;
        box-sizing: border-box;
        display: flex;

        .title {
            margin-block-start: 0rem;
            margin-block-end: 0rem;
            flex-grow: 1;
        }

        .new {
            justify-self: flex-end;
            font-weight: bold;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .fleet-item {
            text-align: left;
            border: none;
            color: white;
            background: linear-gradient(45deg, #ffffff40, #ffffff00);
            padding: 0.5rem;

            &:hover {
                color: black;
                background: linear-gradient(45deg, var(--content-background-color), #ffffff40);
            }

            &.active {
                color: white;
                background: linear-gradient(45deg, var(--primary-color-darker), var(--primary-color));
            }

            .label {
                margin-top: 0px;
            }

            .thumbnails {
                display: flex;
                gap: 0.5rem;

                app-shipgirl-thumbnail {
                    width: 3rem;
                    height: 3rem;
                    border: 2px;
                    border-style: solid;
                    border-color: var(--primary-color-darker);

                    &:nth-child(1) {
                        border-color: var(--accent-color-1);
                    }

                    &:nth-child(5) {
                        border-color: var(--primary-color);
                    }
                }

                .spacer {
                    width: 1rem;
                }
            }
        }
    }
}
