@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("./SourceSansPro-SemiBold-cyrillic.woff2");
    src: url("./SourceSansPro-SemiBold-cyrillic.woff2") format("woff2");
}
