$primary-color: #24aeff;
$secondary-color: #ffffff;

@use 'global';

.azur-lane-theme {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};

    @include calculated-variables;
}
