$primary-color: #ff486f;
$secondary-color: #ffffff;

@use 'global';

.crimson-axis-theme {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};

    @include calculated-variables;
}
