:root {
    $background: #000e23;

    --background: $background;
    --background-transparent: transparentize($background, 80%);
    --content-background: white;
    --primary: #24aeff;
    --accent: #ffcb00;
}
