:host {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
    --cube-size: 3rem;

    width: var(--cube-size);
    height: var(--cube-size);
    position: relative;
    transform-style: preserve-3d;
    animation: cube_rotate 0.5s infinite linear;

    .cube-face {
        --cube-size-offset: calc(var(--cube-size) * 0.6);

        width: var(--cube-size);
        height: var(--cube-size);
        background-color: #c2d1ff;
        position: absolute;
        border: 0.1rem solid #000e23;

        &.top {
            transform: rotateZ(90deg) rotateX(90deg) translateZ(var(--cube-size-offset));
        }

        &.left {
            transform: rotateX(0deg) translateZ(var(--cube-size-offset));
        }

        &.right {
            transform: rotateX(90deg) translateZ(var(--cube-size-offset));
        }
    }
}

@keyframes cube_rotate {
    from {
        transform: rotateX(-25deg) rotateY(0deg);
    }

    to {
        transform: rotateX(-25deg) rotateY(-90deg);
    }
}
