:host {
    display: flex;
    min-width: 7rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;

    button {
        height: 4rem;
        width: 4rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
        background-color: var(--primary-color);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        margin-left: 1rem;

        .fill {
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: var(--background-color-glass);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }

        &.hidden {
            display: none;
        }
    }
}
