:host {
    display: flex;
    height: 100%;
    width: 2rem;
    position: absolute;
    justify-content: center;
    flex-direction: column;

    .rotate-secretary-button {
        height: 2rem;
        width: 2rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: none;
        background-color: var(--primary-color-darker);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        margin-left: 1rem;

        .fill {
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: var(--background-color-glass);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }
    }
}
