:host {
    padding: 1rem;
    background-color: var(--content-background-color);
    position: absolute;
    top: 4rem;
    left: 8rem;

    form {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;

        .secretary-field {
            display: flex;
            width: 100%;
        }
    }
}
