@keyframes secretary-idle {
    0% {
        transform: translateY(0vh);
    }

    50% {
        transform: translateY(1vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes floating-icon {
    0% {
        background-position-y: 0vh;
    }

    50% {
        background-position-y: 1vh;
    }

    100% {
        background-position-y: 0vh;
    }
}

@keyframes bobbing {
    0% {
        transform: translateY(0vh);
    }

    25% {
        transform: translateY(-3vh);
    }

    50% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(-3vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes top_bar_enter {
    from {
        transform: translateY(-10vh);
    }

    to {
        transform: translateY(0vh);
    }
}

@keyframes top_bar_exit {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(-10vh);
    }
}

@keyframes bottom_bar_enter {
    from {
        transform: translateY(10vh);
    }

    to {
        transform: translateY(0vh);
    }
}

@keyframes bottom_bar_exit {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(10vh);
    }
}

@keyframes side_bar_right_enter {
    from {
        transform: translateX(5vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes side_bar_right_exit {
    from {
        transform: translateX(0vw);
    }

    to {
        transform: translateX(5vw);
    }
}

@keyframes side_bar_left_enter {
    from {
        transform: translateX(5vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes side_bar_left_exit {
    from {
        transform: translateX(-5vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes section_highlight_enter {
    from {
        transform: translateX(37vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes section_highlight_exit {
    from {
        transform: translateX(0vw);
    }

    to {
        transform: translateX(37vw);
    }
}
