:root {
    --background-day: url('../assets/bg/bg_main_day.png');
    --background-twilight: url('../assets/bg/bg_main_twilight.png');
    --background-night: url('../assets/bg/bg_main_night.png');
    --ui-color-base: rgba(0, 0, 0, 0.4);
    --ui-color-highlight: rgba(255, 255, 255, 0.25);
    --ui-blur: 0.6vh;
    --ui-enter-exit-duration: 0.45s;
    --ui-border-color-icon: #24aeff;
    --ui-font-family: "Source Sans Pro", sans-serif;
    --ui-level-color: #ffcb00;
}

body {
    font-family: var(--ui-font-family);

    height: 100vh;
    margin: 0px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    body.day {
        background-image: var(--background-day);
    }

    body.twilight {
        background-image: var(--background-twilight);
    }

    body.night {
        background-image: var(--background-night);
    }

#character {
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 5vw;
}

.anim-floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.anim-floating-icon {
    animation-name: floating-icon;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.anim-bob {
    animation-name: bobbing;
    animation-duration: 0.45s;
    animation-iteration-count: 1;
}

#topbar {
    height: 8vh;
    width: 75vw;
    position: fixed;
    top: 0;
    background: linear-gradient(to right, var(--ui-color-base), transparent);
    backdrop-filter: blur(var(--ui-blur));
}

    #topbar.visible {
        visibility: visible;
        animation-name: top_bar_enter;
        animation-duration: var(--ui-enter-exit-duration);
        animation-iteration-count: 1;
    }

    #topbar.hidden {
        visibility: hidden;
        animation-name: top_bar_exit;
        animation-duration: var(--ui-enter-exit-duration);
        animation-iteration-count: 1;
    }

    #topbar > .icon-design-top {
        transform: rotate(45deg);
        position: absolute;
        left: 14vh;
        top: -7vh;
    }

        #topbar > .icon-design-top:before {
            content: "";
            height: 5vh;
            width: 5vh;
            position: fixed;
            top: 0.5vh;
            border-width: 0.7vh;
            border-style: solid;
            border-color: var(--ui-border-color-icon);
        }

        #topbar > .icon-design-top:after {
            content: "";
            height: 6vh;
            width: 5vh;
            position: fixed;
            left: 8vh;
            border-width: 0 0 0.3vh 0;
            border-style: solid;
            border-color: var(--ui-border-color-icon);
        }

    #topbar > #username_field {
        height: 6.3vh;
        width: 35vh;
        position: fixed;
        left: 18.7vh;
        border-width: 0 0 0.3vh 0;
        border-style: solid;
        border-color: var(--ui-border-color-icon);
        color: white;
        vertical-align: bottom;
    }

        #topbar > #username_field > span {
            width: 100%;
            position: absolute;
            bottom: 0vh;
            text-align: center;
            font-size: 3.5vh;
            border-bottom: 0.5vh solid var(--ui-level-color);
            margin-bottom: 0.1vh;
        }

    #topbar > #icon {
        transform: rotate(45deg);
        height: 11vh;
        width: 11vh;
        position: relative;
        top: 2.5vh;
        left: 4vh;
        overflow: hidden;
        border-width: 0.5vh;
        border-style: solid;
        border-color: var(--ui-border-color-icon);
    }

        #topbar > #icon > #character_chibi {
            transform: rotate(-45deg);
            height: 28vh;
            width: 28vh;
            position: relative;
            top: -9vh;
            left: -11vh;
            background-position-x: center;
            background-size: cover;
        }

#content_right {
    height: 100vh;
    width: 100vw;
    display: flex;
}

    #content_right > #sidebar_right {
        height: 100vh;
        width: 5vw;
        position: fixed;
        right: 0;
        background-color: var(--ui-color-base);
        backdrop-filter: blur(var(--ui-blur));
    }

        #content_right > #sidebar_right.visible {
            visibility: visible;
            animation-name: side_bar_enter;
            animation-duration: var(--ui-enter-exit-duration);
            animation-iteration-count: 1;
        }

        #content_right > #sidebar_right.hidden {
            visibility: hidden;
            animation-name: side_bar_exit;
            animation-duration: var(--ui-enter-exit-duration);
            animation-iteration-count: 1;
        }

    #content_right > #section_highlight {
        height: 61vh;
        width: 31vw;
        position: fixed;
        top: 20vh;
        right: 6vw;
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

        #content_right > #section_highlight.visible {
            visibility: visible;
            animation-name: section_highlight_enter;
            animation-duration: var(--ui-enter-exit-duration);
            animation-iteration-count: 1;
        }

        #content_right > #section_highlight.hidden {
            visibility: hidden;
            animation-name: section_highlight_exit;
            animation-duration: var(--ui-enter-exit-duration);
            animation-iteration-count: 1;
        }

        #content_right > #section_highlight > .container_top {
            height: 73%;
            width: 100%;
            background-color: var(--ui-color-highlight);
            backdrop-filter: blur(var(--ui-blur));
            box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.75);
        }

            #content_right > #section_highlight > .container_top > .banner {
                height: 55%;
                margin-top: 1vh;
                margin-left: 1vh;
                margin-right: 1vh;
                background-color: saddlebrown;
            }

            #content_right > #section_highlight > .container_top > .pagination {
                margin-top: 1vh;
                margin-left: 1vh;
                margin-right: 1vh;
            }

            #content_right > #section_highlight > .container_top > .button_blue {
                height: 10vh;
                width: 33.5vh;
                position: fixed;
                left: 2vh;
                bottom: -2vh;
                background: linear-gradient(45deg, #6881df, #63ccfb);
                border: 0.1vh solid rgb(139, 197, 239);
                box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
            }

            #content_right > #section_highlight > .container_top > .button_yellow {
                height: 20vh;
                width: 20vh;
                position: fixed;
                bottom: -2vh;
                right: 2.5vh;
                background: linear-gradient(45deg, #d19666, #f2c748);
                border: 0.1vh solid rgb(228, 218, 92);
                box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
            }

        #content_right > #section_highlight > .container_bottom {
            height: 38%;
            width: 100%;
            margin-top: 4vh;
            background-color: var(--ui-color-base);
            backdrop-filter: blur(var(--ui-blur));
        }

#bottombar {
    height: 8vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: var(--ui-color-base);
}

    #bottombar.visible {
        visibility: visible;
        animation-name: bottom_bar_enter;
        animation-duration: var(--ui-enter-exit-duration);
        animation-iteration-count: 1;
    }

    #bottombar.hidden {
        visibility: hidden;
        animation-name: bottom_bar_exit;
        animation-duration: var(--ui-enter-exit-duration);
        animation-iteration-count: 1;
    }

    #bottombar > #disclaimer {
        color: rgba(255, 255, 255, 0.25);
        font-size: 1.5vh;
    }
