:root {
    --background-day: url('../assets/bg/bg_main_day.png');
    --background-twilight: url('../assets/bg/bg_main_twilight.png');
    --background-night: url('../assets/bg/bg_main_night.png');
    --ui-color-base: rgba(0, 0, 0, 0.3);
    --ui-color-highlight: rgba(255, 255, 255, 0.25);
    --ui-blur: 0.6vh;
}

body {
    height: 100vh;
    margin: 0px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    body.day {
        background-image: var(--background-day);
    }

    body.twilight {
        background-image: var(--background-twilight);
    }

    body.night {
        background-image: var(--background-night);
    }

#character {
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 5vw;
}

.anim-floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.anim-bob {
    animation-name: bobbing;
    animation-duration: 0.45s;
    animation-iteration-count: 1;
}

#topbar {
    height: 7vh;
    width: 75vw;
    position: fixed;
    top: 0;
    background: linear-gradient(to right, var(--ui-color-base), transparent);
    backdrop-filter: blur(var(--ui-blur));
}

#content_right {
    height: 100vh;
    width: 100vw;
    display: flex;
}

    #content_right > #sidebar_right {
        height: 100vh;
        width: 4.5vw;
        position: fixed;
        right: 0;
        background-color: var(--ui-color-base);
        backdrop-filter: blur(var(--ui-blur));
    }

    #content_right > #section-highlight {
        height: 61vh;
        width: 31vw;
        position: fixed;
        top: 20vh;
        right: 6vw;
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

        #content_right > #section-highlight > .container-top {
            height: 73%;
            width: 100%;
            background-color: var(--ui-color-highlight);
            backdrop-filter: blur(var(--ui-blur));
            box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.75);
        }

            #content_right > #section-highlight > .container-top > .banner {
                height: 55%;
                margin-top: 1vh;
                margin-left: 1vh;
                margin-right: 1vh;
                background-color: saddlebrown;
            }

            #content_right > #section-highlight > .container-top > .pagination {
                margin-top: 1vh;
                margin-left: 1vh;
                margin-right: 1vh;
            }

            #content_right > #section-highlight > .container-top > .button-blue {
                height: 10vh;
                width: 33.5vh;
                position: fixed;
                left: 2vh;
                bottom: -2vh;
                background: linear-gradient(45deg, #6881df, #63ccfb);
                border: 0.1vh solid rgb(139, 197, 239);
            }

            #content_right > #section-highlight > .container-top > .button-yellow {
                height: 20vh;
                width: 20vh;
                position: fixed;
                bottom: -2vh;
                right: 2.5vh;
                background: linear-gradient(45deg, #d19666, #f2c748);
                border: 0.1vh solid rgb(228, 218, 92);
            }

        #content_right > #section-highlight > .container-bottom {
            height: 38%;
            width: 100%;
            margin-top: 4vh;
            background-color: var(--ui-color-base);
            backdrop-filter: blur(var(--ui-blur));
        }

#bottombar {
    height: 7vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: var(--ui-color-base);
}

    #bottombar > #disclaimer {
        color: rgba(255, 255, 255, 0.25);
        font-size: 1.5vh;
    }
