:root {
  --background-day: url('../assets/bg/bg_main_day.png');
  --background-twilight: url('../assets/bg/bg_main_twilight.png');
  --background-night: url('../assets/bg/bg_main_night.png');
  --ui-color-base: rgba(0, 0, 0, 0.4);
  --ui-color-highlight: rgba(255, 255, 255, 0.25);
  --ui-blur: 0.6vh;
  --ui-enter-exit-duration: 0.45s;
  --ui-border-color-icon: #24aeff;
  --ui-font-family: "Source Sans Pro", sans-serif;
  --ui-font-family-number: "Monolisk", sans-serif;
  --ui-level-color: #ffcb00;
}

body {
  font-family: var(--ui-font-family);
  height: 100vh;
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.day {
  background-image: var(--background-day);
}

body.twilight {
  background-image: var(--background-twilight);
}

body.night {
  background-image: var(--background-night);
}

#character {
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 5vw;
}

.anim-floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-floating-icon {
  -webkit-animation-name: floating-icon;
          animation-name: floating-icon;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-bob {
  -webkit-animation-name: bobbing;
          animation-name: bobbing;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#topbar {
  height: 8vh;
  width: 75vw;
  position: fixed;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(var(--ui-color-base)), to(transparent));
  background: linear-gradient(to right, var(--ui-color-base), transparent);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
}

#topbar.visible {
  visibility: visible;
  -webkit-animation-name: top_bar_enter;
          animation-name: top_bar_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#topbar.hidden {
  visibility: hidden;
  -webkit-animation-name: top_bar_exit;
          animation-name: top_bar_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#topbar > .icon-design-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 14vh;
  top: -7vh;
}

#topbar > .icon-design-top :before {
  content: "";
  height: 5vh;
  width: 5vh;
  position: fixed;
  top: 0.5vh;
  border-width: 0.7vh;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
}

#topbar > .icon-design-top :after {
  content: "";
  height: 6vh;
  width: 5vh;
  position: fixed;
  left: 8vh;
  border-width: 0 0 0.3vh 0;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
}

#topbar #username_field {
  height: 6.3vh;
  width: 35vh;
  position: fixed;
  left: 18.7vh;
  border-width: 0 0 0.3vh 0;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
  color: white;
  vertical-align: bottom;
}

#topbar #username_field > span {
  width: 100%;
  position: absolute;
  bottom: 0vh;
  text-align: center;
  font-size: 3.5vh;
  border-bottom: 0.5vh solid var(--ui-level-color);
  margin-bottom: 0.1vh;
}

#topbar > #icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 11vh;
  width: 11vh;
  position: relative;
  top: 2.5vh;
  left: 4vh;
  overflow: hidden;
  border-width: 0.5vh;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
}

#topbar > #icon > #character_chibi {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 28vh;
  width: 28vh;
  position: relative;
  top: -9vh;
  left: -11vh;
  background-position-x: center;
  background-size: cover;
}

#topbar > #counters {
  height: 100%;
  width: 45vw;
  position: absolute;
  top: 0vh;
  right: -20vw;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: var(--ui-font-family-number);
}

#topbar > #counters > [id^=counter] {
  height: 60%;
  width: 10vw;
  background-color: rgba(34, 38, 47, 0.5);
  margin: 0 2vw;
}

#topbar > #counters > [id^=counter]:before {
  content: "";
  position: absolute;
  display: inline;
  border-top: 0.1vh solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.1vh solid rgba(255, 255, 255, 0.5);
  width: 21%;
  height: 45%;
  top: 45%;
}

#topbar > #counters > [id^=counter] > .icon {
  height: 3vw;
  width: 3vw;
  position: relative;
  top: -1vh;
  font-size: 3vw;
  text-align: center;
  margin-left: -1.5vw;
  text-shadow: 0 0 1vh black;
}

#topbar > #counters > [id^=counter] > .content {
  position: relative;
  display: inline;
  top: -5.2vh;
  right: -3vw;
  font-size: 3.5vh;
  color: white;
  font-weight: 600;
}

#topbar > #counters > [id^=counter] > .menu {
  height: 2vw;
  width: 2vw;
  position: relative;
  top: -6vh;
  right: -1vw;
  background-color: #516288;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  float: right;
  border: 0.1vh solid #a3a3d2;
}

#topbar > #counters > #counter_patch_date > .icon {
  color: #5a5a5a;
}

#topbar > #counters > #counter_patch_time > .icon {
  color: #ffee2e;
}

#topbar > #counters > #counter_clock > .icon {
  color: #fc1e59;
}

#content_right {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content_right > #sidebar_right {
  height: 100vh;
  width: 5vw;
  position: fixed;
  right: 0;
  background-color: var(--ui-color-base);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
}

#content_right > #sidebar_right.visible {
  visibility: visible;
  -webkit-animation-name: side_bar_enter;
          animation-name: side_bar_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#content_right > #sidebar_right.hidden {
  visibility: hidden;
  -webkit-animation-name: side_bar_exit;
          animation-name: side_bar_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#content_right > #section_highlight {
  height: 61vh;
  width: 31vw;
  position: fixed;
  top: 20vh;
  right: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
}

#content_right > #section_highlight.visible {
  visibility: visible;
  -webkit-animation-name: section_highlight_enter;
          animation-name: section_highlight_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#content_right > #section_highlight.hidden {
  visibility: hidden;
  -webkit-animation-name: section_highlight_exit;
          animation-name: section_highlight_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#content_right > #section_highlight > .container_top {
  height: 73%;
  width: 100%;
  background-color: var(--ui-color-highlight);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
  -webkit-box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.75);
}

#content_right > #section_highlight > .container_top > .banner {
  height: 55%;
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: saddlebrown;
}

#content_right > #section_highlight > .container_top > .pagination {
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

#content_right > #section_highlight > .container_top > .button_blue {
  height: 10vh;
  width: 33.5vh;
  position: fixed;
  left: 2vh;
  bottom: -2vh;
  background: linear-gradient(45deg, #6881df, #63ccfb);
  border: 0.1vh solid #8bc5ef;
  -webkit-box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
}

#content_right > #section_highlight > .container_top > .button_yellow {
  height: 20vh;
  width: 20vh;
  position: fixed;
  bottom: -2vh;
  right: 2.5vh;
  background: linear-gradient(45deg, #d19666, #f2c748);
  border: 0.1vh solid #e4da5c;
  -webkit-box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
}

#content_right > #section_highlight > .container_bottom {
  height: 38%;
  width: 100%;
  margin-top: 4vh;
  background-color: var(--ui-color-base);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
}

#bottombar {
  height: 8vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: var(--ui-color-base);
}

#bottombar.visible {
  visibility: visible;
  -webkit-animation-name: bottom_bar_enter;
          animation-name: bottom_bar_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#bottombar.hidden {
  visibility: hidden;
  -webkit-animation-name: bottom_bar_exit;
          animation-name: bottom_bar_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#bottombar > #disclaimer {
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.5vh;
}
