:root {
  --background-day: url('../assets/bg/bg_main_day.png');
  --background-twilight: url('../assets/bg/bg_main_twilight.png');
  --background-night: url('../assets/bg/bg_main_night.png');
  --ui-color-default: rgb(23, 61, 184);
  --ui-color-base: rgba(0, 0, 0, 0.4);
  --ui-color-highlight: rgba(255, 255, 255, 0.35);
  --ui-blur: 0.6vh;
  --ui-enter-exit-duration: 0.45s;
  --ui-color-icon: #24aeff;
  --ui-color-shadow-icon: #24aeff;
  --ui-border-color-icon: #24aeff;
  --ui-color-highlight-icon: #ffcb00;
  --ui-color-highlight-shadow-icon: #ffcb00;
  --ui-box-shadow-highlight: 0 0 0.5vw 0 rgba(0, 0, 0, 0.75);
  --ui-font-family: "Source Sans Pro", sans-serif;
  --ui-font-family-number: "Monolisk", sans-serif;
  --ui-level-color: #ffcb00;
}

body {
  font-family: var(--ui-font-family);
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

body.loading > #app {
  visibility: hidden;
  display: none;
}

body.loading #loading_screen {
  visibility: visible;
}

body #loading_screen {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: #000e23;
}

body #app {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

body #app.day {
  background-image: var(--background-day);
}

body #app.twilight {
  background-image: var(--background-twilight);
}

body #app.night {
  background-image: var(--background-night);
}

body #app #secretary {
  width: 100%;
  height: 100%;
  left: -20%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

body #app #topbar {
  height: 6vh;
  width: 75vw;
  position: fixed;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(var(--ui-color-base)), to(transparent));
  background: linear-gradient(to right, var(--ui-color-base), transparent);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
  visibility: visible;
  -webkit-animation-name: top_bar_enter;
          animation-name: top_bar_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #topbar.hidden {
  visibility: hidden;
  -webkit-animation-name: top_bar_exit;
          animation-name: top_bar_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #topbar > .icon-design-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 11vh;
  top: -7vh;
}

body #app #topbar > .icon-design-top:before {
  content: "";
  height: 5vh;
  width: 5vh;
  position: fixed;
  top: 0.5vh;
  border-width: 0.5vh;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
}

body #app #topbar > .icon-design-top:after {
  content: "";
  height: 6vh;
  width: 3vh;
  position: fixed;
  left: 8vh;
  border-width: 0 0 0.3vh 0;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
}

body #app #topbar > #icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 7vh;
  width: 7vh;
  position: relative;
  top: 2.5vh;
  left: 4vh;
  overflow: hidden;
  border-width: 0.3vh;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
}

body #app #topbar > #icon > #secretary_chibi {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 28vh;
  width: 28vh;
  position: relative;
  top: -9vh;
  left: -11vh;
  background-position-x: center;
}

body #app #topbar #username_field {
  height: 5vh;
  width: 25vh;
  position: fixed;
  left: 14.5vh;
  border-width: 0 0 0.3vh 0;
  border-style: solid;
  border-color: var(--ui-border-color-icon);
  color: white;
  vertical-align: bottom;
}

body #app #topbar #username_field > span {
  width: 100%;
  position: absolute;
  bottom: 0vh;
  text-align: center;
  font-size: 2vh;
  border-bottom: 0.3vh solid var(--ui-level-color);
  margin-bottom: 0.1vh;
}

body #app #topbar > #counters {
  height: 100%;
  width: 45vw;
  position: absolute;
  top: 0vh;
  right: -20vw;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: var(--ui-font-family-number);
}

body #app #topbar > #counters > [id^=counter] {
  height: 60%;
  width: 10vw;
  background-color: rgba(34, 38, 47, 0.5);
  margin: 0 2vw;
}

body #app #topbar > #counters > [id^=counter]:before {
  content: "";
  position: absolute;
  display: inline;
  border-top: 0.1vh solid rgba(255, 255, 255, 0.25);
  border-bottom: 0.1vh solid rgba(255, 255, 255, 0.25);
  width: 21%;
  height: 45%;
  top: 45%;
  background-color: rgba(0, 0, 0, 0.2);
}

body #app #topbar > #counters > [id^=counter]:nth-child(1) .icon {
  color: #5a5a5a;
}

body #app #topbar > #counters > [id^=counter]:nth-child(2) .icon {
  color: #ffee2e;
}

body #app #topbar > #counters > [id^=counter]:nth-child(3) .icon {
  color: #fc1e59;
}

body #app #topbar > #counters > [id^=counter] > .icon {
  height: 3vw;
  width: 3vw;
  position: relative;
  top: -1vh;
  font-size: 2.5vw;
  text-align: center;
  margin-left: -1.5vw;
  text-shadow: 0 0 1vh black;
}

body #app #topbar > #counters > [id^=counter] > .content {
  position: relative;
  display: inline;
  top: -5.2vh;
  right: -4vw;
  font-size: 2.5vh;
  color: white;
  font-weight: bold;
}

body #app #topbar > #counters > [id^=counter] > .menu {
  height: 1.8vw;
  width: 1.8vw;
  position: relative;
  top: -6vh;
  right: -0.5vw;
  background-color: #516288;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  float: right;
  border: 0.1vh solid #a3a3d2;
}

body #app #secretary_selector {
  position: absolute;
  top: 7vh;
  left: 7vw;
  padding: 2vh;
  background-color: var(--ui-color-highlight);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
  -webkit-box-shadow: var(--ui-box-shadow-highlight);
          box-shadow: var(--ui-box-shadow-highlight);
}

body #app #secretary_selector.hidden {
  visibility: hidden;
}

body #app #secretary_selector > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

body #app #secretary_selector > form > h4 {
  margin-top: 0vh;
  margin-bottom: 0.5vh;
  color: white;
}

body #app #secretary_selector > form input, body #app #secretary_selector > form select {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  border: none;
  background-color: #001e4cb3;
  color: white;
  padding: 1vh;
}

body #app #secretary_selector > form > #button_actions {
  margin-top: 0.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #app #secretary_selector > form > #button_actions button {
  padding: 1vh 1vw;
}

body #app #content_left {
  position: absolute;
  height: 100vh;
}

body #app #content_left > #sidebar_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5vw;
  position: absolute;
  top: 40vh;
}

body #app #content_left > #sidebar_left button {
  width: 2.5em;
  height: 2.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 5vh;
  margin-left: 2vw;
  background-color: #0016237a;
  border: 0.2vh solid var(--ui-color-icon);
  color: white;
}

body #app #content_left > #sidebar_left button i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 2.5vh;
}

body #app #content_right {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app #content_right > #sidebar_right {
  height: 100vh;
  width: 4vw;
  position: fixed;
  right: 1vw;
  background-color: var(--ui-color-base);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: visible;
  -webkit-animation-name: side_bar_enter;
          animation-name: side_bar_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #content_right > #sidebar_right.hidden {
  visibility: hidden;
  -webkit-animation-name: side_bar_exit;
          animation-name: side_bar_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #content_right > #sidebar_right button {
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: transparent;
  color: var(--ui-color-icon);
  text-shadow: 0 0 2vh var(--ui-color-icon);
  font-weight: bold;
  font-size: 1.3vh;
  border: none;
  width: 100%;
}

body #app #content_right > #sidebar_right button.highlighted {
  color: var(--ui-color-highlight-icon);
  text-shadow: 0 0 2vh var(--ui-color-highlight-shadow-icon);
}

body #app #content_right > #section_highlight {
  height: 61vh;
  width: 31vw;
  position: fixed;
  top: 20vh;
  right: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  visibility: visible;
  -webkit-animation-name: section_highlight_enter;
          animation-name: section_highlight_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #content_right > #section_highlight.hidden {
  visibility: hidden;
  -webkit-animation-name: section_highlight_exit;
          animation-name: section_highlight_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #content_right > #section_highlight > .container_top {
  height: 73%;
  width: 100%;
  background-color: var(--ui-color-highlight);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
  -webkit-box-shadow: var(--ui-box-shadow-highlight);
          box-shadow: var(--ui-box-shadow-highlight);
}

body #app #content_right > #section_highlight > .container_top > .banner {
  height: 55%;
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: saddlebrown;
}

body #app #content_right > #section_highlight > .container_top > .pagination {
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

body #app #content_right > #section_highlight > .container_top > .button_blue {
  height: 10vh;
  width: 33.5vh;
  position: fixed;
  left: 2vh;
  bottom: -2vh;
  background: linear-gradient(45deg, #6881df, #63ccfb);
  border: 0.1vh solid #8bc5ef;
  -webkit-box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
}

body #app #content_right > #section_highlight > .container_top > .button_yellow {
  height: 20vh;
  width: 20vh;
  position: fixed;
  bottom: -2vh;
  right: 2.5vh;
  background: linear-gradient(45deg, #d19666, #f2c748);
  border: 0.1vh solid #e4da5c;
  -webkit-box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
}

body #app #content_right > #section_highlight > .container_bottom {
  height: 38%;
  width: 100%;
  margin-top: 4vh;
  background-color: var(--ui-color-base);
  -webkit-backdrop-filter: blur(var(--ui-blur));
          backdrop-filter: blur(var(--ui-blur));
}

body #app #bottombar {
  height: 8vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: var(--ui-color-base);
  visibility: visible;
  -webkit-animation-name: bottom_bar_enter;
          animation-name: bottom_bar_enter;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #bottombar.hidden {
  visibility: hidden;
  -webkit-animation-name: bottom_bar_exit;
          animation-name: bottom_bar_exit;
  -webkit-animation-duration: var(--ui-enter-exit-duration);
          animation-duration: var(--ui-enter-exit-duration);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body #app #bottombar > #disclaimer {
  color: rgba(255, 255, 255, 0.25);
  font-size: 1.5vh;
  position: absolute;
  top: -1.5em;
}

body #app #bottombar > .buttons {
  height: 100%;
  text-align: center;
}

body #app #bottombar > .buttons > button {
  height: 100%;
  width: calc(85vw / 8);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.3vh solid white;
  background-color: #314166b3;
  color: #e5effd;
  text-shadow: 0 0 1em #e5effd;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

body #app #bottombar > .buttons > button > i {
  font-size: 1.5em;
  float: left;
}

body #app #bottombar > .buttons > button:nth-child(1) {
  background-color: #9d5e34b3;
  color: #fefdc0;
  text-shadow: 0 0 1em #fefdc0;
}

body #app #bottombar > .buttons > button:nth-child(7) {
  background-color: #6d3d33b3;
  color: #f5ccca;
  text-shadow: 0 0 1em #f5ccca;
}

.anim-secretary-idle {
  -webkit-animation-name: secretary-idle;
          animation-name: secretary-idle;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-floating-icon {
  -webkit-animation-name: floating-icon;
          animation-name: floating-icon;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-bob {
  -webkit-animation-name: bobbing;
          animation-name: bobbing;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.with-tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 1vh;
}

.with-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.with-tooltip .tooltip {
  visibility: hidden;
  padding: 1vh;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 3vh;
  font-family: var(--ui-font-family);
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--ui-color-base);
  -webkit-backdrop-filter: var(--ui-blur);
          backdrop-filter: var(--ui-blur);
}

[template] {
  display: none;
}

form button {
  background: linear-gradient(45deg, #818183, #9c9e9d);
  border: 0.1vh solid #8bc5ef;
  -webkit-box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5vh 0 rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

form button.primary {
  background: linear-gradient(45deg, #6881df, #63ccfb);
  border: 0.1vh solid #8bc5ef;
}

form button.warning {
  background: linear-gradient(45deg, #d19666, #f2c748);
  border: 0.1vh solid #e4da5c;
}

form button.danger {
  background: linear-gradient(45deg, #975149, #c26c63);
  border: 0.1vh solid #f88e82;
}

form fieldset {
  border: none;
  padding: 0;
}
