#secretary {
    width: 100%;
    height: 100%;
    left: -20%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    animation: floating 4s infinite;

    &.bobbing {
        animation-name: bobbing;
        animation-duration: 450ms;
        animation-iteration-count: 1;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0vh);
    }

    50% {
        transform: translateY(1vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes bobbing {
    0% {
        transform: translateY(0vh);
    }

    25% {
        transform: translateY(-3vh);
    }

    50% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(-3vh);
    }

    100% {
        transform: translateY(0vh);
    }
}
