/* You can add global styles to this file, and also import other style files */
@import './assets/themes/global.scss';
@import './assets/themes/azur-lane-theme.scss';
@import './assets/themes/crimson-axis-theme.scss';
@import './assets/themes/northern-parliament-theme.scss';

@import './assets/fonts/monolisk/monolisk-font.scss';
@import './assets/fonts/oswald/oswald-font.scss';
@import './assets/fonts/source-sans-pro/source-sans-pro-font.scss';

@import './assets/vendor/ag-grid/ag-grid.scss';

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --accent-color-1: #{$accent-color-1};
    --accent-color-2: #{$accent-color-2};

    @include calculated-variables;

    --font-size: 16px;
}

body {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;

    input, select, textarea {
        min-width: 10rem;
        background-color: var(--background-color);
        color: white;
        border-color: var(--primary-color);
        margin: 0.2rem;
        padding: 0.5rem;
    }

    button {
        &.default {
            background: linear-gradient(45deg, var(--secondary-color-darker), var(--secondary-color));
            color: black;
            border: none;
        }

        &.primary {
            background: linear-gradient(45deg, var(--primary-color-darker), var(--primary-color));
            color: white;
            border: none;
        }

        &.accent-1 {
            background: linear-gradient(45deg, var(--accent-color-1-darker), var(--accent-color-1));
            color: white;
            border: none;
        }

        &.danger {
            background: linear-gradient(45deg, var(--accent-color-2-darker), var(--accent-color-2));
            color: white;
            border: none;
        }
    }
}
