$character_names:
    Indianapolis,
    Grenville;

@each $character_name in $character_names {
    #character.#{$character_name} {
        background-image: url('../assets/sprites/{$character_name}.png');
    }
    #character_chibi.#{$character_name} {
        background-image: url('../assets/sprites/{$character_name}Chibi.png');
    }
}
