:host {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 'list form';
    grid-template-columns: 400px 1fr;
    padding-top: 3rem;
    box-sizing: border-box;

    app-fleet-list {
        grid-area: list;
        height: 100%;
        width: 100%;
    }

    app-fleet-form {
        grid-area: form;
        height: 100%;
        width: 100%;
    }
}
