:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.day {
        background-image: url('/assets/bg/bg_main_day.png');
    }

    &.night {
        background-image: url('/assets/bg/bg_main_night.png');
    }

    &.twilight {
        background-image: url('/assets/bg/bg_main_twilight.png');
    }
}
