$primary-color: #ff486f;
$secondary-color: #ffffff;

@use 'global';

.crimson-axis-theme {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --accent-color-1: #{$accent-color-1};

    @include calculated-variables;
}
