$primary-color: #cacaca;
$secondary-color: #ffffff;

@use 'global';

.northern-parliament-theme {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};

    @include calculated-variables;
}
