:host {
    height: 3rem;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;

    background: linear-gradient(to right,
        var(--background-color-glass),
        transparent);
}

app-header-profile {
    flex-grow: 1;
}
